# 忽略 config.yaml（QQ Bot 凭据）
config.yaml

# 虚拟环境
.env
venv/
ENV/
.venv/
.pyenv/
env/

# Python 缓存
__pycache__/
*.pyc
*.py[cod]
*$py.class

# VSCode/IDE
.vscode/
.idea/

# 图片缓存
/tmp/
*.png

# 日志文件
*.log
botpy.log
*.pot
*.pid
*.tmp
